.container{
    background-color:white;
    font-size: 18px;
}

#box{
    text-align: left;
    position: relative;
    margin-left: 550px;
    width:50%;
    height: 90px;
    border:1px solid green;
    padding:40px;
}

.name_header{
    background-color:darkcyan;
    color:white;
    text-align:center;
    padding:20px 30px 20px 60px;
}
.personal_info{
    border-bottom: 4px solid red; 
    width:20%;
    height: 82px;
}

.heading2,.sum_edu_heading{
    border: 1px solid black;
    border-radius: 4px;
    /*width:25%;*/
    text-align:center;
    background-color:lightgrey; 
}
.sum_edu_heading{
    width:20%;
}

.para,ul{
    border:10px outset rgb(184, 221, 212);
    width:500px;
    
    padding:50px;
    margin:auto;
    text-align: left;
}


.flexbox_container{
    display:flex;
    justify-content: space-between;
    color:darkslateblue;
    font-family:Georgia;
   
}
.flexbox_item{
    width:auto;
    height: auto;
    margin:10px;
    border:2px double black;
    background-color:white;
    
}

.flexbox_item_1{
    min-height: 100px;
}

.flexbox_item_2{
    min-height: 100px;
}

.flexbox_item_3{
    min-height: 100px;
}



.Edu-Sum-flexbox-container{
    display:flex;
    flex-direction: column;
}

.flex-item{
    width:210px;
    height: 210px;
    margin:10px;
    border:2px solid black;
    background-color:white;
}

.Sum_flexbox{
    height: 266px;
}

.EDU_flexbox{
    min-height: 100px;

}


/*Work Cited: 

Works Cited
Simplified, W. D. (2018, September 27). YouTube. Retrieved from YouTube: https://www.youtube.com/watch?v=fYq5PXgSsbE


*/
